.global-nav {
    padding-top: 20px;
    font-family: "Josefin Sans",sans-serif;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #dbe8d4;
    transition: .5s ease;
}

.navbar-light:hover .navbar-nav:hover .active>.nav-link:hover, .navbar-light:hover .navbar-nav:hover .nav-link.active:hover {
    color: #588674;
    transition: .5s ease;
}

.resume-button {
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 3px;
    padding: 0.65rem 1rem;
    font-family: "Josefin Sans",sans-serif;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
}

.resume-button:hover {
    background-color:  #dbe8d4;
    transition: .5s ease;
}