.about {
    margin: auto;
    margin-bottom: 80px;
}

.aboutme_h3 {
    font-family: "Titillium Web",sans-serif;
    font-size: 30px;
}

.aboutIntro {
    color: #dbe8d4;
}

.avatarImg {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #13161d;
}

.skillsList {
    padding: 0px;
    list-style: none;
}

b {
    color: #729cb4;
}