.form-control{
    background: rgb(255, 255, 255);
}

.contact {
    font-size: 15px;
    line-height: 23px;
    font-family: "Josefin Sans",sans-serif;
    color: #DBE8D4;
 }

.form-group {
    text-align: left;
}

.contact2 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
 }

 