.intro {
    text-align: center;
    color: #DBE8D4;
}

.myName {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    color: #73CCA8;
    margin-top: 30px;
}

p {
    font-family: "Josefin Sans",sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

.skills {
    font-size: 18px;
}

.seperator {
    font-size: 40px;
}