.intro {
    max-width: 60%;
    text-align: center;
    color: #DBE8D4;
}

.myName {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    color: #73CCA8;
}

p {
    font-family: "Josefin Sans",sans-serif;
}

h1 {
    font-size: 50px;
}
