
.projectCard {
    padding: 10px;
    margin: 20px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.125);
    color: #DBE8D4;
    background-color: #222733; 
    font-family: "Josefin Sans",sans-serif;
}

.btn {
    margin: 10px;
    font-family: "Josefin Sans",sans-serif;
}
