section {
    margin: 0px auto;
    padding: 60px 0px;
    max-width: 1000px;
    text-align: center;
    color: #DBE8D4;
}

.projectCard {
    padding: 20px;
}

.card {
    background-color: rgb(56, 65, 78);
}

.card-img-top {
    max-height: 400px;
}

.icon {
    padding: 10px;
    font-size: 35px;
    padding-bottom: 20px;
}

.title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;

}

.card-title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.divider {
    width: 15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 8px solid #dbe8d4;
}

.techUsed {
    color: #81837f;
}