section {
    margin: 0px auto;
    padding: 60px 0px;
    max-width: 1000px;
    text-align: center;
    color: #DBE8D4;
}

.projectCard {
    padding: 20px;
}

.card {
    background-color: rgb(56, 65, 78);
    border-radius: 20px;
    box-shadow: 4px 4px 4px #13161d;
}

.card-img-top {
    max-height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.icon {
    padding: 10px;
    font-size: 35px;
    padding-bottom: 20px;
    transition: .5s ease;
}

.title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.card-title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.card-text {
    font-family: "Titillium Web",sans-serif;
}

.divider {
    width: 15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 8px solid #dbe8d4;
}

.techUsed {
    color: #81837f;
    font-family: "Titillium Web",sans-serif;
}

.outro {
    font-size: 20px;
    font-family: "Titillium Web",sans-serif;
}
